
/*UCD MEDIA QUERIES*/

@media (max-width: 1450px) {

	
	body{
		font-size: 14px;
		line-height: 17px;
	}

	.wrap p, .direction .blocquotes blockquote, .direction .blocquotes span, .hide-DMD h3, .socialmedia-box p, .youtubbe-video p, .blocquotes blockquote{

    	font-size: 14px;
    	line-height: 17px;
	}

	.citation{
		line-height: 11px !important;
	}

	.direction{
		height: 450px;
	}

	.financialSummary ul li{
		font-size: 12px;
		line-height: 22px;
	}

	.hospital-reductions h2{
		top: 388px;
	}

	.footer-txt .citation2 {
		margin-top: -85px;
	}

	.nav2 .fb-like, .nav2 .fb-share-button{
		bottom: 0px;
	}

}


@media (max-width: 1000px) {
	.nav2{
		display: none !important;
	}
}

/*==========  Mobile First Method  ==========*/

    

    /* Medium Devices, Desktops */
    



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	.nav2{
		display: none !important;
	}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    	.nav2{
		display: none !important;
	}
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
    	.nav2{
		display: none !important;
	}    
    }

	/* iPhone 4 ----------- */
	

	@media screen(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)and (device-          width: 1440px)and (orientation: portrait){ 
	/*Your styles here */
    .nav2{
		display: none !important;
	}
	}

	@media screen and (max-width: 680px) and (orientation:landscape){
		.nav2{
		display: none !important;
	}
	}