/* jk-extends.css */

body{
	height: 100%;
	overflow: scroll;
    font-size: 16px;
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', 'Source Sans Pro', "Trebuchet MS", Arial, sans-serif !important;
    


    /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

h1, h2{
    font-family: 'Belleza', sans-serif !important;
}

.stage{
	height: 100%;
	background-repeat: no-repeat;
    overflow: hidden;
    width: 22320px;
    min-height: 640px !important;
    margin-left:65px;
}

.stage section{
	position: relative;
	min-height: 640px !important;
    height:700px;
	display: inline-block;
    margin-left: -5px;
    overflow:hidden;
}

/*SECTION WIDTHS*/
.sec1{ width: 900px !important; }

.lookBack{
    width: 2380px !important;
    overflow: visible !important;
}

.exeSummary{
    width: 1531px !important;
}

.ourMission{
    width: 10500px !important;
}

.ourCommunity{
    width: 3920px !important;
}

.financials{
    width: 2055px !important;
    margin-left: -190px !important;
}

.ourCompany{
    width: 1223px !important;
}

.lookBack, .exeSummary, .ourMission, .ourCommunity, .financials, .ourCompany{
	float:none;
}

.sec-divider{
	float: none;
	display: inline-block;
	margin-left: -100px;
}

.miss-img{
	width: 251px;
	margin-left: -5px;
    margin-top: 0px;
    vertical-align: top;
}

.jeff{
	left: 565px;
    position: absolute;
    top: -60px;
    height: 100%;
    left: 565px;
    position: absolute;
    top: -60px;
    width: auto;
}

.protecting h2{
	font-size: 36px;
	color: #636466;
	margin: -40px 0px 0 50px;
	width: 500px;
}

.protecting h2 span{
	margin-left: 100px;
	font-size: 56px;
    margin-left: 155px;
}

.protecting p{
	font-size: 18px;
    margin-left: 275px !important;
    margin-top: 5px;
    width: 350px;
}


.home_wrapper{
	display: block;
    margin: 20% auto 0 60px;
    padding: 60px;
    text-align: center;
    width: 62%;
}

#home{
	width: 900px;
    height: auto;
}

.dentist{
	bottom:26px;
	width: 450px;
}


#a-look-back .wrap{
    background-color: transparent;
}
.sec1{
    background-color: white;
}

.protecting{
	left: 25px;
	top: 12%;
}

.bg1 div.chain{
	margin-left: 80px;
    margin-top: -90px;
    position: absolute;
    top: 48%;
    width: 650px;
}

.dental-integration{
	left: 480px;
	top: 46%;
	width: 500px;
}

.dental-integration blockquote, .dental-integration blockquote strong{
	font-size: 16px;
}

.hallowBlueBtm{
	right: 60px;
	bottom: 10px;
}

.dental-integration span{
	margin-top: -10px;
    font-weight: bold;
    font-size: 14px;
}

.study-material h2{
	color: #0066a4;
    font-size: 76px;
    margin-left: 115px;
    margin-top: -15px;
    width: 472px;
    margin-left: 105px;
    margin-top: -55px;
    width: 540px;
    height: 80px;
}

.study-material h2 span{
	font-size: 56px;
    float: right;
    margin-top: -20px;
    margin-right: 0px;
    display: inline-block;
}

.study-material p{
	float: none;
    font-size: 17px;
    line-height: 20px;
    margin: -10px 0 0 320px;
    width: 490px;
}

.studyDocs{
	clear: left;
    float: left;
    margin: 10px 0 0 320px;
    width: 230px;
}

.studyDocs .share img{
	width: 80px;
	height: 30px;
}

.share{
	margin: 10px 0 0 -40px;
}


.excellence p{
	display: block;
    font-size: 17px;
    line-height: 20px;
    margin-left: 40px;
    margin-top: 75px;
    width: 480px;
}

.inner-right img{
	width: 280px;
}


.excellence{
	display: block;
    margin-right: -110px;
    position: absolute;
    right: 160px;
    top: 13%;
    width: 640px;
    right: 195px;
}

.excellence .inner-right{
	float: left;
    height: 0px;
    position: absolute;
    top: 260px;
    width: 300px;
    left: 300px;
}

.file{
	left: 640px;
    margin-left: 80px;
    margin-top: -40px;
    position: absolute;
    width: 480px !important;
}

.prev, .next{
	bottom: 50px;
	/*display: none;*/
}

.nav2 .bottom-nav, .nav2{
	bottom: 22px;
    left: 290px;
    position: fixed;
    display: none;
    z-index: 5000;
}

.nav2 .menu li{
    /*background-color: white;*/
    padding-top: 3px;
}

#a-look-back{
    width: 2330px;
    border: 25px #76bde9 solid;
background-color: transparent;
height:95%;
}

.exec-img, .exec-img img{
	vertical-align: top;
    height: 640px;
}

.summary-txt{
	width: auto;
	height: 100%;
	border:none;
    top: 8%;
    background: none;
}

.left-summary-txt{
	display: inline-block;
    font-size: 15px;
    width: 410px;
}

.right-summary-txt{
    font-size: 15px;
    margin-left: 72px;
    margin-top:-10px;
    width: 530px;
    display: inline-block;
    vertical-align: top;
}

#summaryWrap{
	height: 100%;
    left: 915px;
    margin-top: -20px;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 270px;
}

.exeSummary{
	margin-left:45px;
}

.exec-summary{
	width: 1450px;
    margin-left:30px;
}

.singnatures{
	width: 370px;
	border-bottom: none;
}

.exec-summary .wrap{
	background: none;
	border-bottom: 72px solid white;
    border-top: 25px solid white;
    height: 85%;
}

.miss-headings{
	display: block;
    float: left;
    left: 280px;
    position: absolute;
    top: 2%;
}

#mission{
    /*left: -240px;*/
    left: -1%;
border: 25px #f99d29 solid;
border-right:none;
background-color: transparent;
height: 95%;
}

#mission .content .inner-left{
	float: left;
    margin-left: -50px;
    margin-right: 60px;
    width: 475px;
}

#mission .content p{
	font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: -5px;
    width: 100%;
}

#mission .content .inner-right{
    width: 452px;
}

#mission .content {
    top: 35%;
}

.blocquotes{
	top: 10%;
	left: 1018px;
	width: 550px;
	line-height: 22px;
}

.blocquotes span{
	font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.CAE {
    left: 1320px;
    top: 48%;
    width: 500px;
}

.goodNews{
	left: 1835px;
    position: absolute;
    top: 5%;
    width: 465px;
}

.goodNews .content-box{
	display: table;
    float: left;
    margin-left: 280px;
    margin-top: 33%;
    width: 465px;
}

.bg2 {
    height: 90%;
left: 3300px;
position: absolute;
background-color: white;
width: 7000px;
}

.bg2 img{
	width:400px;
}


.fillOrangeBtm{
    bottom: 50px;
}
.tab1, .tab2, .tab3{
    margin-top: -30px;
    z-index: 900;
}

.tab1 h3, .tab2 h3, .tab3 h3{
	font-size: 26px;
}

.tab1{
	left: 570px;
    width: 200px;
}

.tab2{
	left: 2340px;
    width: 200px;
}

.tab3{
    left: 8930px;
    width: 200px;
}

.direction{
	top: 22px;
	left: 2490px;
    border: 10px rgb(249, 157, 41) solid;
}

.halloWhiteTop{	
	background: url("../img/fill-org-topleft.png") no-repeat scroll 0 0 / 65px 55px rgba(0, 0, 0, 0);
    height: 71px;
    left: -100px;
    position: absolute;
    top: -30px;
    width: 85px;
}

.direction .blocquotes{
	left: 0px;
    position: relative;
    top: -10px;
    width: 500px;
}


.halloWhiteTop{
	height: 71px;
    left: -30px;
    position: absolute;
    top: -15px;
    width: 85px;
}

.halloWhiteBtm{
	background: url("../img/fill-org-btmright.png") no-repeat scroll 0 0 / 60px 50px rgba(0, 0, 0, 0);
	bottom: 35px;
    height: 71px;
    position: absolute;
    right: -40px;
    width: 85px;
}

.direction .blocquotes span{
	line-height:14px;
}

.hide-DMD{
	border-top: none;
    color: #fff;
    margin-left: -20px;
    margin-top: 50px;
    position: relative;
    top: -20px;
    width: 495px;
}



.hide-DMD p {
    margin-top: -24px;
width: 495px;
margin-left: 10px;
font-size: 14px;
}
}

.direction{
	background-color: transparent;
    left: 22970px;
    min-height: 510px;
    padding: 20px 50px;
    position: absolute;
    top: 22px;
    width: 465px;
    height: 80%;
    top: 4%;
    border: 10px rgb(249, 157, 41) solid;
}

.goodNews h2{
    left: -50px;
}

div{
    padding: 0;
}

.img-divider{
    display: block;
    /*min-height: 640px !important;*/
    position: absolute;
    z-index: 100;
    height: 100%;
    left: 0;
    top: 0;
    /*max-width: 280px;*/
}

.img-divider img{
    height: 100%;
    width:auto;
    max-width: none;
}

.new-exec-img{
    left: 3165px;
}

.new-sum-img{
    left: 4820px;
}

.new-jeff-img{
    float: left;
    left: 3080px;
    margin-top: -45px;
    position: relative;
}

.summaryOfficers{ 
    display: inline-block;
    position: relative;
    left: 900px;
    height: 100%;
}

.summaryOfficers img{
    height: 100%;
}

.singnatures{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    display: inline-block;
    top: 18%;
    width: 350px;
}

.goodNews{
    left: 1705px;
    width: 505px;
}

.goodNews h2{
    font-size: 70px;
    left: -50px;
    letter-spacing: 0.05em;
}

.goodNews h2 span{
    color: inherit;
    display: inline-block;
    font-size: 50px;
}

.oral-wellness{
    top:8%;
    left: 3385px;
    margin-left:1%;
}

.oral-wellness hgroup{
    margin: -40px 0 0 80px;
}

.maps-graphs-stats{
    /*border: thin red solid;*/
}

.maxp-txt{
    height: 320px;
    left: 180px;
    margin-top: 60px;
    position: absolute;
    top: 83%;
    width: 420px;
    z-index: 300;
}

#arrow1{
    left: 515px;
    position: absolute;
    top: 265px;
    z-index: 250;
}

.problem-per{
    border-radius: 100%;
    height: 380px;
    left: 611px;
    position: absolute;
    top: -50px;
    width: 380px;
}

.chronic-conditions{
    height: 350px;
    left: 1040px;
    position: absolute;
    top: 82%;
    width: 420px;
    z-index: 100;
}

.effected-per{
    border-radius: 100%;
    height: 380px;
    left: 1451px;
    position: absolute;
    top: -50px;
    width: 380px;
    z-index: 70;
}

.people-figures{
    left: -68px;
    position: absolute;
    top: -34px;
    width: 440px;
}

.gum-wrap{
    left: -205px;
    position: absolute;
    top: 88%;
}

.oral-care{
    left: 2299px;
    position: absolute;
    top: -45px;
}

.flaux-anim{
    bottom: 70px;
    left: 185px;
    position: relative;
    width: 305px;
    z-index: 10;
}

.medical-savings{
    left: 420px;
    position: absolute;
    top: 34px;
}

.medical-savings h2{
    color: #8dc63f;
    font-size: 48px;
    left: 210px;
    position: absolute;
    text-transform: uppercase;
    top: -49px;
    width: 550px;
    font-family: arial !important
}

.oral-wellness h2.footer-txt{
    color: #0066a4;
    display: block;
    float: left;
    font-size: 39px;
    left: 2910px;
    position: absolute;
    top: 160%;
    width: 100%;
    margin-top: 110px;
}


.footer-txt span{
    color: #8dc63f;
}

.hospital-reductions{
    left: 1555px;
    position: absolute;
    top: 35px;
}

.hospital-reductions h2{
    color: #f15d5e;
    font-size: 50px;
    left: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 360px;
    width: 1000px;
}

#programTab{
    display: block;
    float: right;
    left: 8290px;
    position: absolute;
}

audio, canvas, progress, video{
    display: inline-block;
    height: 260px;
    margin-left: 70px;
    vertical-align: baseline;
    width: 420px;
}

.video-quote .blocquotes{
    left: 120px;
    position: absolute;
    text-align: center;
    top: 370px;
    width: 500px;
    z-index: 1000;
}

.blocquotes span{
    line-height: 14px;
}

.hallowOrangeBtm{
    right: 25px;
    bottom: 15px;
}

.uc-wellness hgroup h2:first-child{
    color: #0066a4;
    font-size: 42px;
    margin-bottom: 0;
    margin-top: 80px;
    margin-left:-5px;
}

.leader-txt{
    left: 1030px;
    top: 38%;
    font-size: 17px;
    width: 640px;
}

.innovative-smile{
    top: 58%;
    left: 1320px;
}

.blocquotes.engagement{
    font-size: 13px;
    left: 1505px;
    position: absolute;
    top: 17%;
    width: 600px;
}

.fillOrangeBtm{
    bottom:30px;
}


.financial-img{
    left: 19520px;
    /*max-width: 230px;*/
}

.company-img{
    left:21600px;

}

.ourMission{
    /*border: thin red solid;*/
}

#mission .wrap{
    display: block;
    background-color:transparent;
    margin-left: 1.5% !important
}

.wrap{
    /*max-height: 735px !important;*/
    /*margin-top: 0.3% !important;*/
}

#community .wrap{
    height: 95.7%;
}

#community{
    margin-left: -20px;
    position: relative;
}

.going-beyond{
    left: 35px;
}

.call-center{
    left: 85px;
    position: absolute;
    top: 206px;
    width: 210px;
}

.going-beyond h2{
    margin:0;
}

.green-list{
    margin-top: 10px;
    width: 440px;
}

.content-com{
    display: block;
    float: left;
    left: 765px;
    position: absolute;
    top: 15%;
    width: 500px;
}

.app{
    left: 1245px;
    top: 3%;
}

.app p{
    display: block;
    float: left;
    line-height: 22px;
    margin-left: 30px;
}

.app h2, .kids-app h2{
    font-size: 52px;
    color: #0066a4;
}

.app > img{
    clear: both;
    float: left;
    margin-left: 22px;
}

.blocquotes.amyShearer{
    left: 1780px;
    top: 6%;
    text-align:center;
}

.kids-app{
    left: 2075px;
    top: 32%;
}

.ponyies{
    left: 2300px;
    margin-top: 60px;
    position: relative;
    width: 370px;
    float: none;
}

.socialmedia-wrapper{
    left: -290px;
    position: relative;
    width: 1000px;
    border: 8px #8dc63f solid;
    height: 86%;
    background-color:white;
    min-height: 575px !important;
}

.socialmedia-wrapper h1{
    font-size: 64px;
    color: #0066a4;
    margin-left: 20px;
    margin-top: -8px;
}

.socialmedia-wrapper .col .social-descript{
    width: 370px;
}

.socialmedia-wrapper ul.social-links{
    margin-left: 25px;
    margin-top: 10px;
    padding: 10px 38px 0 14px;
}

.socialmedia-wrapper .social-links img{
    width: 50px;
    height: 50px;
}

.socialmedia-box{
    background: none repeat scroll 0 0 #636466;
    border-radius: 20px;
    color: #636466;
    float: left;
    font-weight: bold;
    height: 70px;
    margin: 0 0 0 40px;
    padding: 10px 25px;
    position: relative;
    width: 255px;
}

.social-links li{
    margin-right: 15px;
}

.socialmedia-box p{
    font-size: 12px !important;
    text-align:left;
}

.link-icon{
    position: absolute;
    right: 6px;
    bottom: 2px;
}

.socialmedia-box-row .socialmedia-box{
    height: 120px;
    width: 130px;
    margin-left: 10px;
}

.socialmedia-box-row-1{
    margin-left: 30px;
}

.socialmedia-box-row-1 .right{
    margin-left: 0px;
}

.socialmedia-wrapper .col.colright{
    float: left;
    margin-left: -115px;
}

.socialmedia-wrapper .col.colright .socialmedia-box{
    margin-left: 0px;
    width: 515px;
}

.socialmedia-wrapper .col.colright .socialmedia-box-rowleft .socialmedia-box{
    width: 175px;
    height: 312px;
}

.socialmedia-wrapper .ucd-lower-box{
    height: 100px !important;
}

.socialmedia-wrapper .link-icon{
    margin-top:-10px !important;
}

.socialmedia-box-rowright{
    float: left;
    margin-left: -90px;
    width: 323px;
}

.socialmedia-wrapper .col.colright .socialmedia-box-rowright .socialmedia-box{
    margin-left: 0px;
    width: 128px;
    margin-top:-5px;
}

.youtubbe-video{
    border-radius: 20px;
    float: left;
    margin: -10px 0 0 0px;
    padding: 10px;
    position: relative;
    width: 283px;
}

.socialmedia-box-row{
    width: auto;
}

.ucd-end-row{
    width: 600px;
}

.socialmedia-wrapper .col.colright{
    width: auto;
}

#financials{
    margin-left: -10px;
    width: 1705px !important;
    padding-left: 125px;
}

#company{
    margin-left:5px;
    width: 830px;
    border: 25px #004462 solid;
}

.animated{
    opacity: 0;
}

.gum-disease{
    background-color: #004563;
border-radius: 11%;
height: 300px;
left: 2060px;
position: absolute;
top: 86%;
width: 350px;
margin-top: -40px;
z-index: 50;
}
.medical-savings h2 sup{
    font-size: 24px;
margin-top: -10px;
position: relative;
display: inline-block;
top: -20px;
}

.chronic-wrap{
    margin-top: 40px;
    background-size: 400px 320px;
}

.phone-woman-img{
    left: 15290px;
}


.nav2 .menu{
    width: 600px;
    /*background-color: white;*/
    height: 44px;
    margin-bottom: 10px;
}

.nav2 .menu li ul.subNav{
  margin-top: -135px;  
}


/* new layout */

.excellence h2{
    color: #0066a4;
    font-size: 42px;
    margin-bottom: 22px;
    margin-top: 25px;
    margin-left: 10px;
}

.excellence p{
    display: block;
font-size: 17px;
line-height: 22px;
margin-left: 100px;
margin-top: 75px;
width: 380px;
}

.excellence .inner-right{
    display: none;
}

.exec-summary .wrap, .exec-summary{
    background: white;
}

.summary-txt h2{
    color: #0066a4;
    font-weight: bold;
    font-weight: bold;
    font-size: 42px;
    margin-left: 105px;
    margin-top: 20px;
}

.left-summary-txt{
    font-size: 14px;
    color: #666;
    font-size: 15px;
    width: 530px;
    margin-left: 125px;
    margin-top: -7px;
    line-height: 18px;
}

.left-summary-txt p, .right-summary-txt p{
    font-size: 15px;
    line-height: 18px;
    margin-top: 0px;
}

.summary-txt{
    margin-top:-30px;
    top: 0;
}

.miss-headings h2{
    display: block;
    float: left;
    margin: 11px 0 0;
    margin-bottom: -12px;
}

.miss-headings > h2[title="mill-members"]{
 color: #0066a4;   
}


#mission .content .inner-left{
    float: left;
    margin-left: 40px;
    margin-right: 60px;
    width: 640px;
    margin-top: -50px;
}

.goodNews h2{
    color: #0066a4;
    font-size: 62px;
    left: 90px;
    letter-spacing: 0.05em;
    width: 900px;margin-top:15%;
}

.goodNews{
    left:1525px;
    margin-top:-45px;
}

.goodNews p{
    font-size: 16px;
    ine-height: 22px;
    font-size: 18px;
    width: 580px;
    margin-top: 30px;
    margin-left: -15px;
}

.goodNews .content-box{
    display: table;
    float: left;
    margin-left: 355px;
    margin-top: 25%;
    width: 630px;
}

.direction{
    width: 805px;
    top: 0%;
    height:565px;
    margin-left:10px;
    background-color: white !important;
    min-height: auto;
}

.oral-wellness hgroup{
    margin: 10px 0 0 30px;
}

.maxp-txt{
    left: 200px;
    top: 78%;
}


#arrow2{
    z-index: 200;
left: 270px;
position: absolute;
top: 29%;
}


.chronic-conditions{
    top: 76%;
}

#arrow3{
    left: 315px;
position: absolute;
top: 110px;
z-index: 1;
}

.oral-wellness hgroup .smile{
    color: #76bde9 !important;
}


.oral-wrap h2:first-child{
    width: 400px;
    color: #0066a4;
    font-size: 42px;
    margin-top: 40px;
    line-height: 48px;
}

.oral-wrap h2 span{
    color: #0066a4 !important;
}


.medical-savings h2{
    color: #8dc63f;
    font-size: 50px;
    left: 140px;
    position: absolute;
    text-transform: uppercase;
    top: -45px;
    width: 650px;
}

.medical-savings{
    left: 480px;
}


#human-figs{
    width: 970px;
}

#tags{
    margin-top: -40px;
    margin-left: -40px;
    width: 1150px;
}

.hospital-bg{
    margin-left: 40px;
}

.heart-arrow{
    left: 365px;
    top: -60px;
    width: 260px;
}

.needle-arrow{
    left: 680px;
    top: -60px;
    width: 300px;
}

.oral-wellness h2.footer-txt{
    display: block;
float: left;
font-size: 40px;
left: 2959px;
position: absolute;
top: 365px;
width: 100%;
margin-top: 0px;
}

.oral-wellness h2.footer-txt img{
    margin-left: -30px;
    position: relative;
    top: 75px;
}

.footer-txt span{
    color: #76bde9;
}

.hospital-reductions h2{
    color: #f15d5e;
    font-size: 46px;
    left: 30px;
    position: absolute;
    text-transform: uppercase;
    top: 368px;
    width: 1000px;
}

.video-quote .blocquotes{
    left: 215px;
    top: 315px;
}

.uc-wellness hgroup{
    display: block;
    margin-top: 20px;
    margin-left: 60px;
}


.blocquotes.engagement{
    font-size: 13px;
    left: 1495px;
    position: absolute;
    top: 18%;
    width: 550px;
}

.innovative-smile{
    width: 630px;
}

.innovative-smile p{
    font-size: 17px;
    line-height: 22px;
    left: 1270px;
}

.going-beyond h2{
    font-size: 62px;
    color: #0066a4;
    line-height:62px;
}

.indent_two{
    font-size: 38px;
}

.going-beyond{
    width: 690px;
    top: 40px;
}

.call-center{
    left: 35px;
    position: absolute;
    top: 225px;
    width: 210px;
}

.content-com{
    display: block;
    float: left;
    left: 745px;
    position: absolute;
    top: 14%;
    width: 450px;
}

.content-com .com{
    margin-top: -10px;
    margin-left: 60px;
}

.content-com p{
    font-size: 18px;
    margin-left: 20px;
}

.content-com .com h2{
    font-size: 56px;
    color: #0066a4;
}

.content-com .com p{
    margin-top: 0px;
    margin-left: 40px;
}

.app p{
    display: block;
    float: left;
    line-height: 22px;
    margin-left: 30px;
    font-size: 17px;
    width: 350px;
}

.app .app-second-p{
    width: 620px;
    margin-left: 80px;
    margin-top:50px;
}

.blocquotes.amyShearer{
    left: 1730px;
}

.kids-app{
    left: 2050px;
    top: 35%;
}

.middle-col h1{
    font-size: 58px;
    color: #0066a4;
    margin: 40px 0 0 0;
}

.middle-col-content h2{
    font-size: 38px;
    color: #636366;
    margin: 0;
    margin-left: 10px;
    width: 1000px;
}

.middle-col-content-left{
    float: left;
    width: 500px;
    margin-left: 20px;
}

.middle-col-content-left p, .middle-col-content-right p{
    color: #444;
    margin: 0;
    font-size: 17px;
    line-height: 22px;
    margin-top:-10px;
}

.middle-col{
    float: left;
    width: 920px;
    padding: 0 0 0 35px;
    background: url(../img/symbol.png) no-repeat 598px 30px;
    background: none !important;
}

.financialSummary{
    margin-left: 120px;
    margin-top: 0px;
    width: 630px;
}

#financials{
    width: 2000px !important;
    background-color: white !important;
    border: 25px #666 solid;
    margin-left: 1%;
}

#financials .wrap{
    background-color: transparent;
    padding-left: 120px;
}

.financialSummary h1{
    font-size: 58px;
    color: #0066a4;
    margin-top:-10px;
}

.financialSummary .heading{
    color: #0066a4;
}

.middle-col-content-right{
    padding: 0;
    margin-top: 150px;
    margin-right: -65px;
    position: relative;
    color: #0066a4;
}

.middle-col-content-right h3{
   color: #0066a4;
    font-size: 38px;
    width: 400px;
    /* text-align: left; */
    margin-left: -30px;
}


.middle-col-content-right .pos-num-p{
    margin-left: -50px;
    width: 340px;
}


blockquote strong{
    color: #0066a4;
}

.hallowBlueTop{
    width: 97px;
    height: 94px;
    background: url(../img/scene1-quotes.png) no-repeat 0 0;
    left: -45px;
    position: absolute;
    top: -10px;
}

#globe{
    width: 650px;
    height: 650px;
    background: url("../img/globe2.png") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    border-radius: 50%;
     box-shadow: none;
    /* -webkit-animation-name: rotate; */
    /* -webkit-animation-duration: 4s; */
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-timing-function: none;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* margin: 85px 0 0 100px; */
    /* opacity: 0.5; */

    margin-top: 0px;
    margin-left: -110px;
}

.maxp-txt h4{
    display: none;
}

.per-wrap{
    background-color: transparent;
    border: 18px solid #f99d29;
    border-radius: 100%;
    height: 330px;
    position: relative;
    width: 345px;
    z-index: 225;
    margin-left: 10px;
    margin-top: 30px;
    border: none;
}

.per-wrap h4{
    color: #f99d29;
    margin-left: -15px;
    margin-top: 90px;
}

.tooth img{
    width: 150px;
}

.per-wrap span{
    font-weight: bold;
    /*color: #f99d29;*/
    margin-left: -20px;
}

.chronic-conditions span, .chronic-conditions .icons, .chronic-conditions .tooth-anim{
    display: none;
}

.effected-per{
    border-radius: 100%;
    height: 380px;
    left: 1451px;
    position: absolute;
    top: -55px;
    width: 380px;
    z-index: 70;
}

.effected-per .per-wrap h4{
    color: #8dc63f;
    font-size: 110px;
    left: 78px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 29px;
    position: absolute;
}


.effected-per .per-wrap span{
    /*color: #8dc63f;*/
    display: block;
    font-size: 22px;
    left: -5px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 43%;
    width: 379px;
}

.socialmedia-box p, .socialmedia-wrapper .col p, .ourCompany p, .hide-DMD p{
    opacity: 1 !important;
}

.gum-disease p{
    border-bottom: 14px solid #fff;
    color: #ffffff !important;
    font-size: 20px;
    margin: 50px 7px 0 30px;
    padding-bottom: 20px;
    font-weight: bold;
    opacity: 1 !important;
}

.stroke-txt, .heart-txt, .needle-txt{ display: none; }

.hospital-reductions h2{
    font-family: arial !important;
    color: #f99d29;
}

.bg3 div{
    display: inline-block;
    float: left;
    left: 175px;
    position: absolute;
    top: 26px;
    width: 1500px;
    display:none;
}

.arrow-animation{
    float: right;
    height: auto;
    left: 190px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 260px;
    width: 535px;
    z-index: 100;
}

.new-signatures{
    width: 510px;
    display: inline-block;
    margin-top: 3%;
    position: absolute;
    display: none;
}

#company .right-column{
    float: left;
    padding: 0 40px 0 0;
    width: 795px;
    margin-left: 50px;
    margin-top: 20px;
}

.tooth{
    width: 160px;
}

    .nav-logo-btm{
        position: absolute;
        z-index: 9999;
        margin-bottom: -15px;
        left: -205px;
        margin-top: 26px;
        width: 190px;
        display: block;
    }

.wrap p, .direction .blocquotes blockquote, .direction .blocquotes span, .hide-DMD h3, .socialmedia-box p, .youtubbe-video p, .blocquotes blockquote{
    color: #666 !important;
    font-size: 16px;
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', 'Source Sans Pro', "Trebuchet MS", Arial, sans-serif !important;
}

.gum-disease p{
    color: #fff !important
}

.bg1 div, .bg2 div{
    display:none !important;
}

.menu li div a{    
    font-size: 13px;
    line-height: 13px;
    text-decoration: none;
    position: relative;
    z-index: 999;
    /*border: thin red solid;*/
    height: 40px;
    width: 70px;
    margin: auto;
    margin-top: 10px;
}

.nav-execsummary{
    margin-top: -3px !important;
}

.bquo1{
    left:1070px;
}

.gum-disease p span{
    color:white;
}

.uc-wellness{
    margin-left: 30px;
    margin-top: -40px;
}

.leader-txt{
    left: 1072px;
    margin-left: -316px;
    top: 125px;
}

.leader-txt span{
    color: #0066a4;
}

.miss-headings h2[title="NW-clients"]{
    color: #555555;
}

#company .right-column h1{
    font-size: 70px;
}

.hide-DMD a, .hide-DMD h3{
    cursor: pointer;
}

.hide-DMD h3{
   /*background: url(../img/accorian-bg2.gif) no-repeat left -38px;*/
    padding-left: 30px;
    height: 30px;
    padding-top: 4px;
    margin-top: 5px;
}

.dmd-plus{
background: url(../img/accorian-bg2.gif) no-repeat left 6px !important;
}

.socialmedia-box, .youtubbe-video{
    border-radius: 0;
    background-color:transparent;
    border: 3px #636466 solid;
}

.human .heart{
    margin: 50px 0 0 25px;
}

.socialmedia-wrapper .col .social-descript{
    margin-left: 25px;
    width: 350px;
    font-size: 16px;
    line-height: 22px;
    backgorund-color:white;
}

.logo-bg{
    position: fixed;
    width:100%;
    height: 100%;
    background-size: 100%;
    display: none;
}

#community{
    margin-left: 2%;
    position: relative;
    border: 25px #8DC63F solid;
    background-color: transparent;
    height: 95%;
    padding-left: 200px;
}

#community .wrap{
    background-color: transparent;
    margin-top: 0px !important;
    width: 4200px;
}

.excellence-pdf-box{
    margin-left: 70px;
}

.logo-exec-sum{
    margin: auto;
    display: block;
    margin-top: 50px;
}

.goodNews .footer .share{
    margin-top:40px;
    margin-left:-200px;
}

.gum-wrap-arrow{
    /* position: absolute; */
    margin-left: 2280px;
    /* width: 180px; */
    /* height: 180px; */
    z-index: 5000;
    margin-top: -100px;
}

.video-wrap{
    width: 500px;
    margin-left: 190px;
    margin-top: 3%;
}

.wrap, #a-look-back .wrap, #a-look-back, .summary-txt, #mission .wrap, #mission, #community, .socialmedia-wrapper, #financials, #company, .exec-summary .wrap, .exec-summary{
    /*background-color: transparent !important;*/
}


.comm-app-links{
  margin-left: 32px;  
  width: 230px;
}

.kids-app .comm-app-links{
    margin-left: 50px;
}

.left-summary-txt .citation{
    font-size: 9px;
    line-height: 10px;
}

.study-material .citation{
    font-size: 9px;
    line-height: 10px;
    margin-top:10px;
}

.goodNews span{
    display: block;
    font-size: 9px;
    line-height: 9px;
    color: #636466;
    width: 500px;
    margin-top: -5px;
}

.direction .plus-minus{
    top: 580px;
    position: absolute;
    margin-left: 5px;
}


.kids-app p strong, .app div strong{
    color: #0066a4;
}

.content-com .com strong{
    color: #0066a4;
}

.financialSummary .plus-minus{
    position: absolute;
    margin-top: 490px;
    margin-left: 30px;
}

.ourCompany .plus-minus{
    position: absolute;
    top: 595px;
    margin-left: 10px;
}

.tag1 h3 sup, .tag2 h3 sup, .tag3 h3 sup, .tag4 h3 sup{
    font-size: 38px;
}
.tag4 h3 sup{ top: -9px; }

.problem-per .citation{
    z-index: 500;
    position: relative;
    opacity: 1;
    font-size: 9px;
    width: 150px;
    margin-left: 100px;
    margin-top: 25px;
}

.effected-per .citation{
    z-index: 500;
    position: relative;
    opacity: 1;
    font-size: 9px;
    width: 140px;
    margin-left: 100px;
    margin-top: 25px;
}

.footer-txt .citation{
    z-index: 500;
    position: relative;
    opacity: 1;
    font-size: 9px;
    width: 150px;
    margin-left: 110px;
    margin-top: -70px;
    line-height: 8px;
    font-weight: normal;
}

.hospital-reductions h2 .citation{
          z-index: 500;
position: relative;
opacity: 1;
font-size: 9px;
width: 150px;
margin-left: 570px;
margin-top: -135px2
line-height: 8px;
}

.tag4 span sup{
    font-size: 11px;
}

.goodNews .footer .inner-left, .excellence .inner-left img{
    width: 230px;
}

.uc-img{
    margin-left: 750px;
    width: 500px;
    margin-top: 170px;
}

.blocquotes blockquote strong{
    color: #0066a4;
}

.goodNews .footer .share span{
    margin-left: -85px;
}

.heart, .animated-custom.infinite{
/*-webkit-animation: none;*/
}

.tag4 h3{
    margin-left: -30px;
    margin-top: 2px;
    margin-bottom: -6px;
}

#company{
    background-color: white;
    padding-left: 278px;
    margin-left: 3.25%;
}

#company .wrap{
    height: 80% !important;
}

.exec-summary .wrap, .exec-summary{
    background-color:transparent;
}

.exec-summary{
    border: 25px #0066a4 solid;
    background-color: white;
}

.com .doc{
    margin-left: 40px;
}

.share-box{
    width: 75px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center 20px;
    text-align: center;
    margin-left: 10px;
    margin-top:8px;
}

.innovative-smile span{
    color: #0066a4;
}

.share-box .social-ico{
    margin-right:3px;
    margin-top: 6px;
}

.content-com .share-box{
    margin-left: 20px;
}

.comm-app-links .share-box{
    top: 0;
    margin-left: -20px !important;
}

.socialmedia-box a, .socialmedia-box a:hover{
    color: #0066a4;
}

.blocquotes .engagement{
    font-size: 13px;
    left: 1500px;
    position: absolute;
    top: 17%;
    width: 600px;
}

#company .accordion .column p strong{ color: #0066a4; }

h2 img{
    width: auto !important;
    display:block;
}

.citation .six{
    color: #666;
    display: inline-block;
    margin-top: -25px;
    margin-left: 250px;
    position: absolute;
    width: 150px;
}

.nav2 .menu hr{
    width: 88px;
    margin-left: -10px;
    color: #0066a4;
    background-color: #0066a4;
    border-color #0066a4;
}

.nav2 .menu{ width: 720px; }

.menu li:nth-child(4) div{ width: 70px; }

.nav2 .menu li div a{ opacity: 0; }
.menu li div a:hover{ opacity: 1; }

.show-nav{ opacity:1 !important; }

.arrows{
    display:none;
}

.hospital-reductions h2 sup{
    font-size: 22px;
    top: -20px;
    display: inline-block;
    position: relative;
}

.nav2 .menu li ul.subNav{
    padding: 5px;
    position: absolute;
    bottom: 6px;
    width: 120px;
    background: rgba(249, 157, 41, .5);
    width: 90px;
    margin-left: -3px;
}

.hallowOrangeTop2{ margin-top:-5px; }

.hallowOrangeBtm2{
    top: 90px;
    margin-left: 20px;
    left: 420px;
}

.app h2{  margin-bottom: -20px; }

.kids-app h2{ margin-bottom: -10px; }

.home_wrapper h1{  margin-left: 45px;} 

.socialmedia-wrapper .col{
    width: 1160px;
    position: relative;
    height: 95%;
    margin-top: 20px;w
    display: block;
    padding: 0;
    margin-left: -25px;
}

.socialmedia-box{
    display: inline-block;
    height: auto;
    width: 200px;
    float: left;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 290px;
}

.socialmedia-wrapper{
    vertical-align:top;
    width: 1100px;
}

.social-descript-box{
    display: inline-block;
    float:left;
    margin-right: -10px;
}


.twitter-share-button{
    margin-left: 20px;
    margin-top:6px;
}

.nav2 .twitter-share-button{
    position: absolute;
    left: 730px;
    bottom: 10px;
}

.nav2 .fb-like, .nav2 .fb-share-button{
    position: absolute;
    left: 882px;
    bottom: 3px;
    margin: 0;
    width: 60px;
    height: 30px;
    margin: 0
    padding: 0;
}

.scroll-instruction{
    position: absolute;
    color: #999;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    width: 625px;
    margin-top: 50px;
}

.fix-tab{
    position: fixed;
    left: 100px;
}


.fb-like.fb_edge_widget_with_comment.fb_iframe_widget span iframe {
    bottom:0!important;
}

.direction .fillOrangeTop{
    left: -45px;
    position: absolute;
    top: -25px;
    background-size: 90%;
}


.blocquotes span, .dental-integration span{
    font-size: 18px !important;
}

.right-summary-txt{
    font-size: 15px;
    margin-left: 50px;
    margin-top: -10px;
    width: 550px;
    display: inline-block;
    vertical-align: top;
}

.left-summary-txt{
    margin-left: 105px;
    width: 550px;
}

.summary-txt{
    margin-left: 40px;
}

.goodNews p{
    margin-left: 0px;
}

.blocquotes span i {
    font-size: 10px;
    margin-top: 6px;
    display: block;
    line-height: 14px;
}

.problem-per .citation{
    margin-top:59px;
}

.problem-per .citation{
    width: 170px;
}

.footer-txt .citation{
    line-height: 9px;
    margin-top: -60px;
}


.content-com{
    display: block;
    float: left;
    left: 755px;
    position: absolute;
    top: 300px;
    width: 680px;
}

.app{
    top: 0px;
    left: 825px;
}

.comm-app-links .share-box{
    top: -56px;
    margin-left: 225px !important;
    display: block;
    position: relative;
}

.comm-app-links{
    margin-left: 856px;
    width: 233px;
    margin-top: 230px;
}

.blocquotes.amyShearer{
    left: 1300px;
}

.kids-app{
    left: 1460px;
}

.ponyies{
    left: 1900px;
    margin-top:2%;
}

.socialmedia-wrapper{
    left:-790px;
    width: 965px;
    height: 540px;
    background-color: white;
    min-height: 450px !important;
}

.socialmedia-wrapper .col{
    width: 400px;
    /*border: thin red solid;*/
    display: inline-block;
}

.socialmedia-wrapper .col2{
    width: 600px;
}

.socialmedia-box{
    width: 200px;
    height: 93px;
}

.ponyies{
    left: 940px;
    margin-top: -315px;
}

.financial-img{
    left: 18970px;
}

.company-img {
    left: 21135px;
}


.nav-logo-btm{
    width: 311px;
    left: -265px;
}

.nav2 .menu{
    margin-left: 60px;
}

.footer-txt .citation2{
    margin-left: 355px;
    margin-top: -72px;

}

.total-tab{
    border-top: none;
    /*border-bottom: 1px black solid;*/
    margin-bottom: 2px;
    text-decoration: underline;
}

.total-tab i{
    font-style: normal !important;
    border-bottom: 1px black solid;
}

.total-tab2{
    border-top: none;
    border-bottom: 1px black solid;
    position: relative;
    top: 1px;
}

.financialSummary ul li strong{
    font-weight: normal;
}

.financialSummary ul li .bold, .result-tab{
    font-weight: bold !important;
}

#mission .content{
    top: 240px;
}

.study-material{
    top: 9%;
}

.dental-integration{
    top:44%;
}

.excellence{
    top: 9%;
}

.summary-txt{
    margin-top: -50px;
}

.blocquotes blockquote{
    font-size: 16px;
}

.direction .blocquotes{
    line-height: 22px;
}

.leader-txt p sup{
    font-size: 150%;
    top: 0.08em;
}

.facebook-column{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 310px;
    height: 510px;
    overflow: hidden;  
}

.facebook-column .socialmedia-box, .facebook-column .socialmedia-box p{
     /*max-width: 230px;*/
     width: 230px;
     height: auto;
}

.facebook-column .socialmedia-box{
    height: 136px;
}

.twitter-column{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 280px;
    overflow: hidden;
}

.facebook-column .socialmedia-box p{
    width: 240px;
    margin-left: -5px;
    max-height: 130px;
    overflow: hidden;
}

.view-experience{
    /*border: thin red solid;*/
    margin-top: 65px;
}

.nav-disclaimer{
    font-size: 11px;
    color: #666;
    position: fixed;
    top: 3px;
    z-index: 1000;
    left: 20px;
}








